<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Cedar AlgoTrading</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <i class="ri-cactus-line"></i> Cedar AlgoTrading
            </a>
        </nav>
    </header>

    <main class="main">
        <section class="section container">
            <h1 class="section__title">Contact Us</h1>
            <p>Have questions about our software or need support with your account? Our team is here to help you. Get in touch with us through the following methods:</p>
            <ul class="contact__info">
                <li>Email: nilrajsinh6@gmail.com/li>
                <li>Phone: +1 707-852-8081</li>
                <li>Address: 203 Bosky Plaza, Pethapur Cross, Pethapur, Gandhinagar </li>
            </ul>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__container container">
            <a href="#" class="footer__logo">
                <i class="ri-bar-chart-line"></i> Cedar AlgoTrading
            </a>
            <ul class="footer__links">
                <li><a href="/about" class="footer__link">About Us</a></li>
                <li><a href="/contact" class="footer__link">Contact Us</a></li>
                <li><a href="/pricing" class="footer__link">Pricing</a></li>
                <li><a href="/privacy" class="footer__link">Privacy Policy</a></li>
                <li><a href="/terms" class="footer__link">Terms & Conditions</a></li>
                <li><a href="/refund" class="footer__link">Cancellation/Refund Policy</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
