<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="static/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="static/css/styles.css">

      <title>The Cedar AlgoTrading</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">
               <i class="ri-cactus-line"></i> Cedar AlgoTrading
            </a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="#home" class="nav__link active-link">Home</a>
                  </li>

                  <li class="nav__item">
                     <a href="#new" class="nav__link">News</a>
                  </li>

                  <li class="nav__item">
                     <a href="#shop" class="nav__link">Shop</a>
                  </li>

                  <li class="nav__item">
                     <a href="#care" class="nav__link">Care</a>
                  </li>

                  <li class="nav__item">
                     <a href="#contact" class="nav__link">Login</a>
                  </li>
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <div class="nav__actions">
            
               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <div class="home__container container grid">
               <img src="static/img/StockHomee.png" alt="image" class="home__img">

               <div class="home__data">
                  <h1 class="home__title">
                     Transform <br>
                     Your Trading <br>
                     with<br>
                     <span>92%</span> Accuracy <br>
                  </h1>

                  <p class="home__description">
                     Welcome to Cedar AlgoTrading, where we merge cutting-edge technology with deep market insights to deliver unmatched trading accuracy. Our AI-driven algorithms are designed to decode complex market patterns, ensuring that you achieve superior results with an astounding 92% accuracy rate. Begin your journey towards successful trading with us today!
                  </p>

                  <div class="home__buttons">
                     <a href="#" class="button">
                        <span>
                           <img width="40" height="40" src="https://img.icons8.com/fluency/48/stocks-growth--v1.png" alt="stocks-growth--v1"/>
                        </span>
   
                        Start Trading Now
                     </a>
   
                    
                  </div>
               </div>
            </div>
         </section>

         <!--==================== NEWS ====================-->
         <section class="new section" id="new">
            <div class="new__container container grid">
               <div class="new__data">
                  <h2 class="section__title">
                     WHERE PRECISION MEETS<br> PROFITABILITY
                  </h2>

                  <p class="new__description">
                     Embrace the future of trading with Cedar AlgoTrading. Our sophisticated AI algorithms analyze vast amounts of market data in real-time to identify profitable trading opportunities. By leveraging state-of-the-art technologies, we empower traders like you to make informed decisions quickly and efficiently, ensuring that you stay ahead in the fast-paced world of stock trading. Whether you're a seasoned trader or just starting out, our tools are crafted to enhance your trading strategy and increase profitability
                  </p>
               </div>

               <div class="new__content grid">
                  <article class="new__card">
                     <img src="static/img/Nifty.png" alt="image" class="new__img">
                     
                     <h2 class="new__title">Nifty</h2>
                  </article>

                  <article class="new__card">
                     <img src="static/img/BankNifty.png" alt="image" class="new__img">
                     <h2 class="new__title">Bank Nifty</h2>
                  </article>

                  <article class="new__card">
                     <img src="static/img/ManyMore.png" alt="image" class="new__img">
                     <h2 class="new__title">Fin Nifty</h2>
                  </article>
               </div>
            </div>
         </section>

         <!--==================== SHOP ====================-->
         <section class="shop section" id="shop">
            <h2 class="section__title">
               Pricing
            </h2>

            <div class="shop__container container grid">
               <article class="shop__card">
                  <img src="static/img/Pricing.png" alt="image" class="shop__img">

                  <h3 class="shop__title">Alerts And <br> AI Trading</h3>
                  <span class="shop__price">2,999 ₹</span>
                  <br>
                  <p class="new__description"> 1-Month </p>
                  <button class="shop__button">
                     <i class="ri-shopping-bag-line"></i>
                  </button>
               </article>

               
               <article class="shop__card">
                  <img src="static/img/Pricing.png" alt="image" class="shop__img">

                  <h3 class="shop__title">Alerts And <br> AI Trading</h3>
                  <span class="shop__price">12,999 ₹</span>
                  <p class="new__description"> 6-Month </p>
                  <button class="shop__button">
                     <i class="ri-shopping-bag-line"></i>
                  </button>
               </article>

               <article class="shop__card">
                  <img src="static/img/Pricing.png" alt="image" class="shop__img">

                  <h3 class="shop__title">Alerts And <br> AI Trading</h3>
                  <span class="shop__price">14,999 ₹</span>
                  <p class="new__description"> 12-Month </p>
                  <button class="shop__button">
                     <i class="ri-shopping-bag-line"></i>
                  </button>
               </article>
               

               
            </div>
            
         </section>

         <!--==================== CARE ====================-->
         <section class="care section" id="care">
            <h2 class="section__title">
               Optimal Care and <br> Strategy for Your Investments
            </h2>

            <div class="care__container container grid">
               <img src="static/img/care-cactus.png" alt="image" class="care__img">

               <ul class="care__list">
                  <li class="care__item">
                     <i class="ri-checkbox-fill"></i>
                     <p>
                        Tailored Trade Execution: Utilizes machine learning to ensure each trade is precisely aligned with current market conditions, optimizing profitability and minimizing risk.
                     </p>
                  </li>

                  <li class="care__item">
                     <i class="ri-checkbox-fill"></i>
                     <p>
                        Advanced Risk Management: Integrates sophisticated tools to continuously monitor and adjust exposure based on real-time risk assessment, aligning with your risk tolerance.
                     </p>
                  </li>

                  <li class="care__item">
                     <i class="ri-checkbox-fill"></i>
                     <p>
                        Precision Positioning: Leverages precise market insights to strategically place trades, maximizing growth potential in favorable market conditions.
                     </p>
                  </li>

                  <li class="care__item">
                     <i class="ri-checkbox-fill"></i>
                     <p>
                        Controlled Investment Scaling: Dynamically adjusts investment size based on the strength of trading signals, enhancing portfolio sustainability and minimizing overexposure.
                     </p>
                  </li>

                  <li class="care__item">
                     <i class="ri-checkbox-fill"></i>
                     <p>
                        Smart Trailing and Tactical Stops: Features advanced stop-loss adjustments that lock in profits and protect against market downturns, securing your investments.
                     </p>
                  </li>
               </ul>
            </div>
         </section>

         <!--==================== CONTACT ====================-->
  <section class="contact section" id="contact">
  <h2 class="section__title">
    Interested in AI Trading? <br> Join Us
  </h2>
  <div class="login__container">
   <div class="login__content">
       <!-- Login Form -->
       <form action="/loginreq" method="post" class="login__form" id="login-form">
           <h3 class="login__title">Enter Your Email to Get Updates</h3>
           <div class="login__field">
               <i class="ri-user-line"></i>
               <input type="text" placeholder="Enter your Email" name="username" class="login__input" required>
           </div>
           <div class="login__field">
               <i class="ri-lock-password-line"></i>
               <input type="password" placeholder="Password" name="password" class="login__input" required>
           </div>
           <div class="login__actions">
               <button type="submit" class="login__button">Join Us</button>
               <a href="#" class="login__link" id="show-signup">Sign Up</a>
               <a href="#" class="login__link">Forgot Password?</a>
           </div>
       </form>

       <!-- Signup Form -->
       <form action="/signupreq" method="post" class="login__form hidden" id="signup-form">
           <h3 class="login__title">Create an Account</h3>
           <div class="login__field">
               <i class="ri-user-line"></i>
               <input type="text" placeholder="First Name" name="first_name" class="login__input" required>
           </div>
           <div class="login__field">
               <i class="ri-user-line"></i>
               <input type="text" placeholder="Last Name" name="last_name" class="login__input" required>
           </div>
           <div class="login__field">
               <i class="ri-mail-line"></i>
               <input type="email" placeholder="Email" name="email" class="login__input" required>
           </div>
           <div class="login__field">
               <i class="ri-lock-password-line"></i>
               <input type="password" placeholder="Password" name="password" class="login__input" required>
           </div>
           <div class="login__field">
               <i class="ri-lock-password-line"></i>
               <input type="password" placeholder="Confirm Password" name="confirm_password" class="login__input" required>
           </div>
           <div class="login__actions">
               <button type="submit" class="login__button">Sign Up</button>
               <a href="#" class="login__link" id="show-login">Log In</a>
           </div>
       </form>
   </div>
</div>


</section>

      <!--==================== FOOTER ====================-->
      <footer class="footer">
         <div class="footer__container container grid">
           <div>
             <a href="#" class="footer__logo">
               <i class="ri-bar-chart-line"></i> Cedar AlgoTrading
             </a>
             <p class="new__description">This platform is for educational purposes only.<br> Trading involves significant risk and may not be suitable for all investors.<br> Please consult with a financial advisor before making any investment decisions.</p>
           </div>
       
           <div class="footer__content grid">
             <div>
               <h3 class="footer__title">COMPANY</h3>
               <ul class="footer__links">
                 <li>
                   <a href="#" class="footer__link">About Us</a>
                 </li>
                 <li>
                   <a href="#" class="footer__link">Services</a>
                 </li>
                 <li>
                   <a href="#" class="footer__link">Features</a>
                 </li>
               </ul>
             </div>
       
             <div>
               <h3 class="footer__title">INFORMATION</h3>
               <ul class="footer__links">
                 <li>
                   <a href="#" class="footer__link">Blogs & News</a>
                 </li>
                 <li>
                   <a href="#" class="footer__link">Contact Us</a>
                 </li>
                 <li>
                   <a href="#" class="footer__link">FAQs</a>
                 </li>
               </ul>
             </div>
       
             <!-- <div>
               <h3 class="footer__title">SOCIAL MEDIA</h3>
               <div class="footer__social">
                 <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                   <i class="ri-facebook-circle-fill"></i>
                 </a>
                 <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                   <i class="ri-instagram-fill"></i>
                 </a>
                 <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                   <i class="ri-twitter-line"></i>
                 </a>
               </div>
             </div> -->
           </div>
         </div>
       
         <span class="footer__copy">
           &#169; 2024 Cedar AlgoTrading. All Rights Reserved. V1.0.0.3
         </span>
       </footer>

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
         <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
      <script src="static/js/scrollreveal.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="static/js/main.js"></script>
   </body>
</html>