<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribe | Cedar AlgoTrading</title>
    <link rel="stylesheet" href="static/css/subscribe.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>



<script>
   // Your web app's Firebase configuration
   const firebaseConfig = {
      apiKey: "AIzaSyAA1H1ZLHk0wk9TV3kl86H51hU2ar6wB-g",
      authDomain: "cedaralgo.firebaseapp.com",
      projectId: "cedaralgo",
      storageBucket: "cedaralgo.appspot.com",
      messagingSenderId: "954545040500",
      appId: "1:954545040500:web:55bd7b47e047a4e7a97521",
      measurementId: "G-744FYMPKP1"
   };
 
   // Initialize Firebase
   firebase.initializeApp(firebaseConfig);
 
   // Enable analytics
   firebase.analytics();
   firebase.analytics().logEvent('Subscription');
   
 </script>
    <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '499027655977128');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=499027655977128&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
</head>
<body>
  <header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <i class="ri-bar-chart-line"></i> Cedar Algo Trading
        </a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/HomePage" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="/profile" class="nav__link ">Profile & wallet</a>
                </li>
               
                <li class="nav__item">
                    <a href="/AlgoSetup" class="nav__link">Algo Setup</a>
                </li>
                <li class="nav__item">
                  <a href="/subscribe" class="nav__link active-link">Subscription</a>
              </li>
                
            </ul>
            <!-- Close button -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>
        <div class="nav__actions">
            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>
</header>

    <main class="main">
        <section class="subscription section" id="subscribe">
            <h1 class="section__title">Choose Your Subscription Plan</h1>
            
            <div class="container grid">
                
                <!-- <div class="plan">
                    <h2 class="plan__title">Basic</h2>
                    <p class="plan__price">₹2,999 <span>/ month</span></p>
                    <ul class="plan__features">
                        <li>Access to basic trading signals</li>
                        <li>Email support</li>
                        <li>AI - ALGO TRADING</li>
                    </ul>
                    <button class="button">Coming Soon</button>
                </div> -->
                <!-- Advanced Plan -->
                <!-- <div class="plan">
                    <h2 class="plan__title">Advanced</h2>
                    <p class="plan__price">₹7,999 <span>/ 6 months</span></p>
                    <ul class="plan__features">
                        <li>Advanced trading signals</li>
                        <li>Priority email support</li>
                        <li>AI - ALGO TRADING</li>
                    </ul>
                    <button class="button">Coming Soon</button>
                </div> -->
                <!-- Pro Plan -->
                <!-- <div class="plan">
                    <h2 class="plan__title">Pro</h2>
                    <p class="plan__price">₹14,999 <span>/ year</span></p>
                    <ul class="plan__features">
                        <li>All-inclusive trading signals</li>
                        <li>24/7 support</li>
                        <li>AI - ALGO TRADING</li>
                    </ul>
                    <button class="button">Coming Soon</button>
                </div> -->
                <div class="plan">
                  <h2 class="plan__title">One Month ACCESS</h2>
                  <p class="plan__price">₹2,999 <span>/ Month</span></p>
                  <ul class="plan__features">
                      <li>All-inclusive trading signals</li>
                      <li>24/7 support</li>
                  </ul>
                  <!-- Hidden form for user details, to be shown on button click -->
                  <div id="userDetailsForm" style="display: none;">
                      <input type="text" id="userName" placeholder="Your Name" required>
                      <input type="email" id="userEmail" placeholder="Your Email" required>
                      <input type="tel" id="userContact" placeholder="Contact Number" required>
                      <button class="button" onclick="checkSessionAndPay(299900)">Submit</button>
                  </div>
                  <button class="button" id="payNowButton" onclick="checkSessionAndPay(299900)">Pay Now</button>
                  <input type="hidden" name="plan_id" value="beta_access">
                  <input type="hidden" name="amount" value="99900">
              </div>
              <div class="plan">
                <h2 class="plan__title">6 Month ACCESS</h2>
                <p class="plan__price">₹12999 <span>/ Month</span></p>
                <ul class="plan__features">
                    <li>All-inclusive trading signals</li>
                    <li>24/7 support</li>
                </ul>
                <!-- Hidden form for user details, to be shown on button click -->
                <div id="userDetailsForm" style="display: none;">
                    <input type="text" id="userName" placeholder="Your Name" required>
                    <input type="email" id="userEmail" placeholder="Your Email" required>
                    <input type="tel" id="userContact" placeholder="Contact Number" required>
                    <button class="button" onclick="checkSessionAndPay(1299900)">Submit</button>
                </div>
                <button class="button" id="payNowButton" onclick="checkSessionAndPay(1299900)">Pay Now</button>
                <input type="hidden" name="plan_id" value="beta_access">
                <input type="hidden" name="amount" value="99900">
            </div>
                
                <div class="plan">
                  <h2 class="plan__title">12 Month ACCESS</h2>
                  <p class="plan__price">₹19,999 <span>/ Month</span></p>
                  <ul class="plan__features">
                      <li>All-inclusive trading signals</li>
                      <li>24/7 support</li>
                  </ul>
                  <!-- Hidden form for user details, to be shown on button click -->
                  <div id="userDetailsForm" style="display: none;">
                      <input type="text" id="userName" placeholder="Your Name" required>
                      <input type="email" id="userEmail" placeholder="Your Email" required>
                      <input type="tel" id="userContact" placeholder="Contact Number" required>
                      <button class="button" onclick="checkSessionAndPay(199900)">Submit</button>
                  </div>
                  <button class="button" id="payNowButton" onclick="checkSessionAndPay(1999900)">Pay Now</button>
                  <input type="hidden" name="plan_id" value="beta_access">
                  <input type="hidden" name="amount" value="99900">
              </div>
            
            </div>
        
        </section>

        <!-- Testimonials Section -->
        <section class="testimonials section">
            <h1 class="section__title">Testimonials</h1>
            <div class="container grid">
                <div class="testimonial">
                    <p>"The Pro plan has significantly enhanced my trading strategy. Highly recommend for serious traders."</p>
                    <cite>— Alicia Smith</cite>
                </div>
                <div class="testimonial">
                    <p>"Fantastic customer support and reliable signals. Made my first profitable trade within a week!"</p>
                    <cite>— Rahul Mehta</cite>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__container container grid">
          <div>
            <a href="#" class="footer__logo">
              <i class="ri-bar-chart-line"></i> Cedar AlgoTrading
            </a>
            <p class="new__description">This platform is for educational purposes only.<br> Trading involves significant risk and may not be suitable for all investors.<br> Please consult with a financial advisor before making any investment decisions.</p>
          </div>
      
          <div class="footer__content grid">
            <div>
              <h3 class="footer__title">COMPANY</h3>
              <ul class="footer__links">
                <li>
                  <a href="#" class="footer__link">About Us</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Services</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Features</a>
                </li>
              </ul>
            </div>
      
            <div>
              <h3 class="footer__title">INFORMATION</h3>
              <ul class="footer__links">
                <li>
                  <a href="/Blog" class="footer__link">Blogs & News</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Contact Us</a>
                </li>
                <li>
                  <a href="#" class="footer__link">FAQs</a>
                </li>
              </ul>
            </div>
      
            <!-- <div>
              <h3 class="footer__title">SOCIAL MEDIA</h3>
              <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                  <i class="ri-facebook-circle-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                  <i class="ri-instagram-fill"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                  <i class="ri-twitter-line"></i>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      
        <span class="footer__copy">
          &#169; 2024 Cedar AlgoTrading. All Rights Reserved. V1.0.0.3
        </span>
      </footer>


      <script>

        

function showForm() {
    document.getElementById('userDetailsForm').style.display = 'block'; // Show the form for user details
    document.getElementById('payNowButton').style.display = 'none'; // Hide the Pay Now button
}


function checkSessionAndPay(amount) {
    fetch('/api/check_session')
    .then(response => {
        if (response.status === 200) {
            makePayment(amount);  // User is logged in, proceed with payment
        } else {
            alert('Your session has expired. Please log in again.');
            window.location.href = '/login';  // Redirect to login
        }
    })
    .catch(error => console.error('Failed to check session', error));
}

        function makePayment(amount) {
          fetch('/pay', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ amount: amount })  // Send the amount to the server
    })
            .then((response) => response.json())
            .then((order) => {
                var options = {
                    "key": "{{ rzp_live_8kQ21NWsMXOu2S }}", // Enter the Key ID generated from the Dashboard
                    "amount": amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": order.currency,
                    "name": "Cedar Algo Trading",
                    "description": "Beta Access For Month",
                    "image": "https://www.cedaralgo.in/static/img/care-cactus.png",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        alert('Payment successful. Payment ID: ' + response.razorpay_payment_id);
                        window.location.href = '/success';
                    },
                    "prefill": {
                "name": userName,
                "email": userEmail,
                "contact": userContact
            },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            })
            .catch((error) => {
                console.log(error);
            });
        }
        
    </script>

      
</body>

</html>
